img {
    max-width: 150px;
}

.selectedPage {
    color: whitesmoke;
}

.headContainer {
    text-align: center;
}

.container {
    margin-left: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination a:hover {
    background-color: #f0f0f0;
}
.userList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.userList li {
    display: inline-block;
}

.userList li:last-child {
    border-bottom: 1px solid black;
}

.users img {
    max-width: 150px;
    max-height: 150px;
    mix-blend-mode: darken;
}

