
.headerContainer {
    display: inline-block;
    width: 300px;
    height: 40px;
    margin-left: 400px;
}


.glasses {
    max-width: 40px;
    max-height: 20px;
    mix-blend-mode: difference;
}


.fLetter {
    color: mediumblue;
}

.sLetter {
    color: darkred;
}

.headerContainer span {
    font-size: 20px;
    color: darkkhaki;
    letter-spacing: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

header {
    background-color: #474040;
    color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    grid-area: h;
}

.appInfo {
    float: left;
    color: ghostwhite;
    font-weight: 600;
    font-style: oblique;
    letter-spacing: 2px;
}

header a {
    text-decoration: none;
    color: black;
}

.link {
    float: right
}

.link a {
    color: #fff;
    text-decoration: none;
    transition: color 0.5s;
}

.link a:hover {
    color: #ffcc00;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #4E37B2;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #00C6FF;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


