.appNav {
    background-color: #474040;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    grid-area: n;
}


.appNav ul {
    list-style-type: none;
    display: inline-block;
}

.appNav li {
    display: inline-block;
    width: 150px;
    padding: 10px;
}


.appNav li img {
    max-width: 40px;
    max-height: 40px;
    border: 1px solid black;
    border-radius: 30px;
}

.appNav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.5s;
}

.appNav a:hover {
    color: #ffcc00;
}
