.appNav {
    background-color: #333; /* Цвет фона */
    width: 100%; /* Растягиваем по ширине экрана */
    top: 0; /* Прижимаем к верху страницы */
    z-index: 1000; /* Устанавливаем высокий индекс для перекрытия других элементов */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень */
    grid-area: n;
}


.appNav ul {
    list-style-type: none; /* Убираем маркеры списка */
    display: inline-block;
}

.appNav li {
    display: inline-block; /* Сделаем элементы списка в одну линию */
    width: 150px;
    padding: 10px;
}


.appNav li img {
    max-width: 40px;
    max-height: 40px;
    border: 1px solid black;
    border-radius: 30px;
}

.appNav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.5s; /* Плавное изменение цвета при наведении */
}

.appNav a:hover {
    color: #ffcc00; /* Цвет ссылки при наведении */
}
