.footer {
    background-color: #474040;
    grid-area: f;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.socials img {
    max-width: 70px;
    max-height: 55px;
    border-radius: 50px;
}


.socials ul li {
    list-style: none;
    display: inline-block;
    width: 200px;
    height: 60px;
    text-align: center;
}

.footerBlock {
    display: flex;
    justify-content: space-around;
    color: ghostwhite;
}

.contactUs {
    display: inline-block;
    width: 400px;
    height: 150px;
}

.mySocials {
    display: inline-block;
}

.mySocials h3 {
    margin-bottom: 20px;
}


.footerBlock h3 {
    margin-bottom: 20px;
}

.footerBlock p {
    margin-bottom: 10px;
}

.socials ul {
    display: flex;
    justify-content: flex-start;
}

.menuContainer {
    color: ghostwhite;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    font-size: larger;
}

.menu {
    display: inline-block;
    width: 1500px;
    height: 120px;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
}

.menu ul li {
    color: darkkhaki;
    letter-spacing: 3px;
    font-weight: 600;
    width: 100px;
    height: 50px;
    list-style: none;
    font-style: italic;
}

.menu ul a {
    text-decoration: none;
    padding: 0 10px;
}


